.kanban {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.column {
  width: 150px;
  background-color: wheat;
  min-height: 100px;
  height: fit-content;
  border-radius: 5px;
}

.placeholder {
  width: 150px;
  background-color: lightgray;
  min-height: 50px;
}

.column button {
  display: inline-block;
  width: 100%;
}

.title {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 8px 0;
  cursor: grab;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 0px;
}

.card {
  width: 120px;
  background-color: lightblue;
  padding: 8px;
  cursor: grab;
  border: 1px solid gray;
  border-radius: 5px;
}

.moving {
  position: absolute;
  transform: rotate(3deg);
}

.card.moving, .moving .title {
  cursor: grabbing;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px;
}

.controls button {
  width: 100%;
}
.controls textarea {
  resize: vertical;
}